{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "rules": {
    "react/default-props-match-prop-types": [
      "error"
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "react/require-default-props": [
      "error"
    ],
    "react/sort-prop-types": [
      "warn"
    ]
  }
}